    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-image: url('./images/body-background.jpg');
        background-size: cover;
        background-attachment: fixed;
    }

    
    @media (max-width: 992px) {}
    
    @media (max-width: 1200px) {}
    
    @media (max-width: 1400px) {}