    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-image: url('./images/body-background.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
    
    .text-title-box {
        width: 100%;
    }
    
    @media (min-width: 576px) {
        .title-box {
            top: 0;
            width: 80% !important;
        }
        .title-text {
            font-size: 10px;
        }
    }
    
    @media (min-width: 768px) {
        .btn-lang-box {
            margin-top: 10% !important;
        }
    }
    
    @media (min-width: 992px) {}
    
    @media (min-width: 1200px) {}
    
    @media (min-width: 1400px) {}